 
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  function authenticated() { return request.auth.uid != null }

    match /users/{userId} {
       allow get, create, update, delete: if authenticated() && request.auth.uid == userId;
    }
  }
}